body {
    background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;

}

.navbar {
    background-color: #755739;
    padding: 10px;
}

.container {
    padding: 10px;

}

.book-container {
    padding: 5px;
    width: 20%;
    background-color: #F5E9DA;
    border-radius: 8px;
    color: #5A3E2B;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}

.book-container h2 {
    color: #5A3E2B;
}


.book-container p {
    color: #3A3A3A;
}

.book-container h5 {
    color: #A67C52;
}

.book-container button {
    background-color: #4A2F22;
    color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
    margin-top: 10px;



}

.add-button {
    background-color: #8B5E34;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 35px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 25px;

}

.popup-overlay {
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;

}

.popup-box {
    background-color: #8B5E34;
    color: rgb(0, 0, 0);
    width: 28%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;
}

.popup-box-input {
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
}

.popup-box textarea {
    background: transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: solid black 2px;
}

.popup-box input::placeholder {
    color: black;
}

.popup-box textarea::placeholder {
    color: black;
}

.popup-box button {
    color: white;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 3px;
}

.popup-box-input:focus {
    outline: none;
}

.popup-box-textarea {
    outline: none;
}

.cancel-popup {
    background-color: #C9A27E;
    color: white;
}
